*{
	margin:0%;
	padding:0%;
}

/*Fondo paginas*/
.home{
    background-image:url(../IMAGENES/fondo.jpg);
    background-size:cover;
    background-attachment:fixed;
}
.desayunos {background-image:url(../IMAGENES/fondoDesayunos.jpg);background-size:cover;background-attachment:fixed;}
.almuerzos {background-image:url(../IMAGENES/fondoAlmuerzos.jpg);background-size:cover;background-attachment:fixed;}
.comidaRapida {background-image:url(../IMAGENES/fondoComidaRapida.jpg);background-size:cover;background-attachment:fixed;}
.consulta{background-image:url(../IMAGENES/fondoConsulta1.jpg);background-size:cover;background-attachment:fixed;}
/*fondo formularios */
.col-lg-5{
    background: black;
    margin:auto;
}
/* centrado tabla consulta*/

/*Tamaño logotipo GEONNYS PIZZA*/
header div a img{
    width:25%;
}
/*barra de navegacion*/
 header{
    background:black;
    margin:auto;
    top: 0;
    height:20%;
    width: 80%;

}
/*slider imagenes*/
.main{
    width:80%;
    margin:20px auto;
}
.slides{
    width:100%;
}
.slides img{
    width:100%;
}
.slidesjs-pagination{
    background:#424242;
    list-style:none;
    overflow:hidden;
}
.slidesjs-pagination li{
/*se peguen uno al otro*/
    float:left;
}
.slidesjs-pagination li a {
    display:block;
    padding:5px 20px;
    color:white;
/*quitar los hipervinculos*/
    text-decoration:none;
}
.slidesjs-pagination .active {
    background:black;
}
/*cuando por pase por ensima se iluminara*/
.slidesjs-pagination li a:hover {
    background:black;
}
.slidesjs-navigation {
    background:black;
    color:white;
    text-decoration:none;
    display:inline-block;
    padding:7px 20px;
    float:right;
}
/* cuadros menu , de aqui se da el tamaño de los cuadros y imagenes */
#contenedor{
     width:100%;
     display:flex;
     justify-content:center;
}
#contenedor div {
    text-align:center;
}
#contenedor .cuadros{
    border-style:solid;
    border-color:red;
    border-radius:5px;
    border-width: 3px;
    width: 100%;
    margin: 3%;
}
#contenedor .cuadros a {
    background-color: white;
    text-decoration:none;
    color:red;
    display:block;
    border-left: 6px solid red;
    border-right:6px solid red;
}
#contenedor .cuadros a:hover {
    background-color:black;
    border-left: 6px solid white;
    border-right:6px solid white;
}
#a{
    background-image:url(../IMAGENES/desayuno.jpg);
    background-size:cover;
    padding:5.5%;
    }
#b{
    background-image:url(../IMAGENES/almuerzo.jpg);
    background-size:cover;
    padding:5.5%;
    }
#c {
    background-image:url(../IMAGENES/comidaRapida.jpg);
    background-size:cover;
    padding:5.5%;
    }
.cuadros img{
    max-width:100%;
    max-height:100%;
}

